@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;700&display=swap');
// Fonts

$small: 300px;
$medium: 900px;
// Screen Sizes

$background: #f1f1ee;
$primary: #2c3e50;
$primary-low-opacity:rgba(44, 62, 80, 0.5);
// Colors
