/* Variables */
$brand: rgb(255, 167, 38);
$background: rgb(238,174,202);

body {
    margin: 0;
    background: $background;
    overflow: hidden;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    height: 80vh;
}
